# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
.mypy_cache/
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore
